@charset "ISO-8859-1";

.logform {
	width: 600px;
	height: 220px;
	position: absolute;
	top: 100px;
	left: 300px;
	margin: 20px;
	background-color: #8f9194;
}

.logdiv {
	margin: 15px;
	margin-top: 30px;
}

.loga {
	margin-left: 160px;
}

.detdiv {
	height: 800px;
	position: absolute;
	top: 100px;
	left: 300px;
	margin: 20px;
}

.ldiv {
	margin: 15px;
	margin-top: 30px;
}

.view {
	margin: 0;
}

.label1 {
	display: inline-block;
	width: 200px;
	text-align: right;
}

.label2 {
	margin-left: 20px;
	display: inline-block;
	width: 200px;
	text-align: left;
	padding: 4px;
}

.profile {
	height: 45px;
	width: 45px;
	background-color: #bbb;
	margin-right: 20px;
	border-radius: 50%;
	align-content: center;
}

.proa {
	text-align: center;
	color: #e84b13;
}

.typeul {
	display: none;
}

.typeula:hover .typeul {
	display: block;
}

.typeli {
	color: #fff;
	list-style: none;
}

.typea {
	color: #fff;
	text-decoration: none;
}